<div class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700">
    <ul class="flex justify-center w-full -mb-px tab-buttons">
        <!-- 監視タブ -->
        <li class="me-2 w-full">
            <button id="monitoringTabBtn" class="text-blue-600 border-blue-600 active dark:text-blue-500 dark:border-blue-500 w-full p-4" onclick="switchTab('monitoringTab')">監視</button>
        </li>
        <!-- CSV管理タブ (初期選択) -->
        <li class="me-2 w-full">
            <button id="csvManagementTabBtn" class="text-gray-700 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 w-full p-4" onclick="switchTab('csvManagementTab')" aria-current="page">CSV管理</button>
        </li>
    </ul>
</div>
